body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vertical-timeline-element-content h2 {
  font-size: inherit !important;
}

.disclaimer_icon {
  float: left;
  margin-right: 10px;
}

.disclaimer_content {
  display: content;
}
